<!DOCTYPE html>
<head>
    <title> Restaurant Menu </title>
</head>
<body>
    <h1> Our Menu </h1>
    {% if menu %}
    <ul>
        {% for item in menu %}
        <li>
            <strong> {{item.name}}</strong>: {{item.description}} - {{item.price}}
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p> No Menu Items available right now , please check back later on .</p>
    {% endif %}
    <section>
         <h2> Our Location </h2>
         <p> visit ous At </p>
         <p> Restaurant </p>
         <div>
            style="margin-top 20px;"
            <iframe src= "https://www.google.com/maps/embed?pb=!1m14!1m1211m13!1d895.2888612820163!2d72.83161023750067!3d19.21389806045375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sin!4v1754389418370!5m2!1sen!2sin" width="600" height="450" style="border: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
         </div>
    </section>
</body>
</html>
