body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
}

h1,h2 {
    color: black;
}

.container {
    margin: 20px auto;
    padding: 20px;
    background: white;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0, 4px, 10px rgba(0.0.0.0.1);
}

button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #357ab8;
}

.logo-header {
    text-align: center;
    margin-top: 20px;
}

.restaurant-logo {
    width: 180px;
    height: auto;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0.0.0.0.2);
}
