{% include "partials/breadcrumbs.html" %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Base</title>
    </head>
    <body>
        {% block content %}
        <!----- our page specific content----->
        {% endblock content %}
        <a href="{% url 'home.html' %}"><img src="{% static 'images/logo.png' %}" alt="My Spicy Restaurant</a>

        <footer style="text-align: center; padding: 1rem; background: #f5f5f5; font-size: 0.9rem;">
            &copy; <p>Opening Hours: {{opening_hour}}</p> {{current_year}}  My Spicy Restaurant. All Rights Reserved ---
            <a href="{% url 'Privacy_policy' %}">Privacy Policy</a>
        </footer>
    </body>
</html>