{% extends 'base.html' %}
{% block content %}
<div class="container text-center mt-5">
    <h1>Welcome to our store</h1>
    <p>Delicious meals Delivered fresh to u</p>

    <a href="{% url 'order_page' %}" class="order-btn">Order Now</a>
</div>

<style>
    .order-btn{
    display: inline-block;
    background-color: #ff5722;
    color: white;
    padding: 15px 30px;
    font-size:18px;
    font-weight:bold;
    border-radius:8px;
    text-decorationnone;
    transition: background 0.3s ease;
    }
    .order-btn:hover {
    background-color: #e64a19;
    }
    body {
        font-family: Arial, sans-serif;
        background: #f9f9f9;
        margin: 0;
        padding: 0;
    }
    nav.breadcrumb {
        padding: 10px 20px;
        background: #eee;
        font-size: 14px;
    }
    nav. breadcrumb a{
        color: #0007bff;
        text-decoration: none;
    }
    nav.breadcrumb a:hover{
        text-decoration: underline;
    }
    nav.breadcrumb span {
        color: #555;
    }
</style>
<body>
    <nav class="breadcrumb">
        <a href="index.html">Home</a>
    </nav>

    <main style="padding: 20px; ">
        <h1>welcome to the homepage</h1>
        <p>this is the homepage content.</p>
    </main>
</body>
{% endblock %}
