<!DOCTYPE html>
<html>
    <head>
        <!--<title> {{restaurant_name}} </title>-->
        <title>my spicy restaurant</title>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'homepage' %}">Home</a> 
                    <a href="{% url 'about' %}">About Us</a>
                    <a href="{% url 'menu' %}">Menu</a>
                    <a href="{% url 'contact' %}">Contact</a>
                    <a href="{% url 'reservation' %}">Reservations</a>
                </li>
            </ul>
        </nav>
        <h1>{{restaurant_name}}</h1>
    </body>
</html>