<!DOCTYPE html>
<html>
    <head>
        <title>
            My Spicy Restaurant - Menu
        </title>
    </head>
    <Body>
        <h1>Menu</h1>
        <ul>
            {% for item in menu_items %}
            <li>
                <strong>{item.name}</strong> : {item.description} - {item.price}
            </li>
            {% endfor %}
            
            {% if item.image %}
                <img src="{{item.image.url}}" alt="{{item.name}}" style="max-width: 200px; height:auto; ">
            {% else %}
                <img src="{{%static 'images/placeholder.png' %}}" alt="No image" style="max-width: 200px; height:auto;">
            {% endif %}
        </ul>
    </Body>
</html>